* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em 3em;
}

.pages-list {
    list-style: none;
    display: flex;
    gap: 1.5em;
}